<mat-card>
    <mat-card-header>
        <mat-card-title>Log In</mat-card-title>
    </mat-card-header>
    <form [formGroup]="loginForm">
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Enter your username" formControlName="userName" autocomplete="off">
            <mat-error *ngIf="submitted && f.userName.errors">
                <div *ngIf="f.userName.errors.required">Username is required</div>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Enter your password</mat-label>
            <input matInput formControlName="password" autocomplete="off">
            <mat-error *ngIf="submitted && f.password.errors">
                <div *ngIf="f.password.errors.required">Password is required</div>
            </mat-error>
        </mat-form-field>
    </form>
    <button class="signupButton" mat-flat-button color="primary" (click)="onSubmit()">Log In</button>
    <p><a routerLink="/signup">Sign Up </a>for register</p>
</mat-card>
