<mat-card>
    <mat-card-header>
        <mat-card-title>Sign Up</mat-card-title>
    </mat-card-header>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Enter your first name" formControlName="firstName" autocomplete="off" />
            <mat-error *ngIf="submitted && f.firstName.errors">
                <div *ngIf="f.firstName.errors.required">First name is required</div>
            </mat-error>
        </mat-form-field>


        <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Enter your last name" formControlName="lastName" autocomplete="off">
            <mat-error *ngIf="submitted && f.lastName.errors">
                <div *ngIf="f.firstName.errors.required">Last name is required</div>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Enter your username" formControlName="userName" autocomplete="off">
            <mat-error *ngIf="submitted && f.userName.errors">
                <div *ngIf="f.firstName.errors.required">Username is required</div>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Enter your password</mat-label>
            <input matInput formControlName="password" autocomplete="off">
            <mat-error *ngIf="submitted && f.password.errors">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Required {{ f.password.errors.minlength.requiredLength }} or more symbols.</div>
            </mat-error>
        </mat-form-field>
    </form>
    <button class="signupButton" mat-flat-button color="primary" (click)="onSubmit()">Sign Up</button>
</mat-card>
