<mat-toolbar color="primary">
    <a [routerLink]="['/']">
        <h1>My Social</h1>
    </a>
    <div *ngIf="!authService.currentUserValue" class="buttons">
        <button mat-button>
            <a routerLink="signup">Sign Up</a>
        </button>
        <button mat-button>
            <a routerLink="login">Log In</a>
        </button>
    </div>
    <div *ngIf="authService.currentUserValue" class="buttons">
        <button mat-button (click)="logout()">
            <a routerLink="signup">Logout</a>
        </button>
    </div>

</mat-toolbar>
